body, html {
  height: 100%;
  margin: 0;
}

.bg {
/* The image used */
  background-image: url("ghbg.png");

/* Full height */
  height: 100%; 

/* Center and scale the image nicely */
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.959);
  color: white;
}

.bg-white {
  background-color:white;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.red-text {
  color:red;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow: auto;
  justify-content: center;
  list-style: none;
  margin: 10px 0px; 
  padding: 1em 0em; 
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
.play-button {
    width: 152px;
    height: 152px;
    position: relative;
    cursor: pointer;
  }
  
.play-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
  }
  
.play-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: calc(100% + 15px);
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    cursor: pointer;
  }
  
.play-close::before,
.play-close::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    background-color: #fff;
  }
  
.play-close::after {
    transform: rotate(-45deg);
  }
  
.play-circles {
    display: block;
    width: 100%;
    height: 100%;
  }
  
.play-perspective {
    width: 600px;
    height: 400px;
    position: absolute;
    left: -230px;
    top: -125px;
  }
  
.play-triangle {
    width: 600px;
    height: 400px;
    background-color: #fff;
    cursor: pointer;
  }

.navbar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    text-align: center; 
}
  
.black-hover a:hover {
    background:rgba(255, 255, 255, 0.76);
}

.white-hover a:hover {
  background:rgba(0, 0, 0, 0.212);
}


.navbar li:last-of-type a {
    border-bottom: none;
}

.indented {
    padding-left: 50pt;
    padding-right: 50pt;
    display: flex;
}

.name {
    padding: 1em
}

.flex_container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
  }

.flex_container_v {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex_container_type {
  display: flex;
  justify-content:center;
}

em {
    font-size:xx-large;
}
.item1 {
    padding: 10px;
    width: 300px;
}

.cbb_section {
    padding: 5px;
    width: 300px;
}

.cbb_section_left {
    margin-top: 1em;
}

.cbb_section img {
    width: 100%;
    height: auto;
}

.usatoday-link {
   color:black;
   text-decoration: none;
}

.usatoday-link div {
   border:2px solid black;
}

.typing {

  width: 0ch;
  float: left;
  font-family: sans-serif;
  font-weight:bold;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(22) 1s alternate forwards;
}

.typing-short {
  animation: typing-short 5s steps(22) 1s alternate forwards;
}

.typing span{
  color:black;} 

.crow {
  float: left;
  color: white;
  font-family: consolas;
  font-weight:bold;
  font-size: 24px;
  animation: crow 0.4s linear 0s infinite;
}










#nav * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

#nav p {
  margin-bottom: 2.5em;
}
#nav #nav a {
  color: inherit;
  text-decoration: none;
}
#nav h2 {
  font: bold 2.8rem 'Work Sans', 'Arial Black', Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2em;
}
nav {
  mix-blend-mode: difference;
  z-index: 100;
}
#nav ul {
    position: fixed;
    top: 60px;
    left: 5px;
    height: 100vh;
    visibility: hidden;
    pointer-events: none;
    list-style: none;
    width: 35px;
  }

#nav li {
      font: bold 1.5rem 'Work Sans', 'Arial Black', Gadget, sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0.75em 0;
      writing-mode: vertical-lr;
    }

#nav.active ul{
    visibility: visible;
    pointer-events: initial;
    transition-delay: 0.2s;
  }

#nav .nav-icon {
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 15px;
  left: 15px;
  transition: background 0.3s;
  width: 35px;
}

#nav span {
    position: absolute;
    top: 15px;
    left: 5px;
    background:rgb(10, 10, 10);
    display: block;
    height: 3px;
    right: 5px;
    transition: transform 0.3s;
  }

#nav .nav-icon:before, 
#nav .nav-icon:after {
      width: 100%;
      height: 3px;
      background: rgb(10, 10, 10);
      content: '';
      display: block;
      left: 0;
      position: absolute;
    }

#nav .nav-icon:before {  
      top: -8px;
    }
#nav .nav-icon:after {
      bottom: -8px;
    }
#nav .active .nav-icon span{
    transform: rotate(90deg);
  }












@keyframes typing {
  from {
      width: 0ch;
  }
  to {
      width: 19.5ch;
  }
}


@keyframes typing-short {
  from {
      width: 0ch;
  }
  to {
      width: 9.5ch;
  }
}
@keyframes crow {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}



@media screen and (min-width: 600px) {
  .flex_container{
      flex-direction: row;
      
  }
  .typing{
    font-size: 60px;
  }
  .crow{
    font-size: 50px;
  }


}




@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Work+Sans:700)




  